main {
    position: relative;
    min-height: 50vw;
}

#h2 {
    font-size: 3vw;
    font-weight: normal;
    padding-top: 2vw;
    text-align: center;
}
#form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding-bottom: 3vw;
    width: 60.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    height: 2.2vw;
    width: 60.3vw;
    color: #afafaf;
    font-size: 1vw;
    font-family: "Gentium Book Basic";
}

#submit_button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10vw;
    color: black;
    background-color: #A0A0A0;
    border-radius: 5px;
    border: 1px black solid;
}

#address {
    width: 60.5vw;
    display: flex;
}

#street, #number, #zip_code, #city {
    margin-right: 0.5vw;
    width: 15vw;
}

#city {
    margin: 0;
}

#address input {
    width: 14.5vw;
}