header {
    width: 100%;
    max-width: 100vw;
}

header h2 {
    font-size: 3rem;
    text-align: center;
    font-family: "Italiana";
    text-align: center;
    padding-block: 1.4vw;
}

.top-header {
    width: 100%;
    min-height: 120px;
    background-color: #686868;
    text-align: center;
    position: relative;
}

.logo {
    position: absolute;
    top: 28%;
    right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.gg-user {
    margin-top: 15px;
    transform: scale(2);
}

.bottom-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-header a {
    width: 20%;
}

.header-button {
    width: 100%;
    height: 25px;
    outline: 2px solid #000000;
    border-top: 2px solid black;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A0A0A0;
}

.header-button:hover {
    background-color: #C9C9C9;
}

a {
    text-decoration: none;
    color: #000000;

}