<a onclick="hide_filters()">
    <i id="arrow" class="gg-arrow-up-o"></i>
    &nbsp;Zwiń filtry
</a>
<form action="search" onsubmit="return false" preve id="filters_form">

    <div id="selects">
        <div class="one_select">
            <label for="miasto">Miasto</label>
            <select name="miasto" id="miasto" class="dropdown-select" onchange="switch_shelters()">
                <option value="" selected>Wybierz miasto...</option>
            </select>
        </div>

        <div class="one_select">
            <label for="schronisko">Schronisko</label>
            <select name="schronisko" id="schronisko" class="dropdown-select" disabled>
                <option value="" selected>Wybierz konkretne schronisko...</option>
            </select>
        </div>

        <div class="one_select">
            <label for="typ">Zwierzę </label>
            <select name="typ" id="typ" class="dropdown-select">
                <option value="" selected>Wybierz jakiego zwierzęcia szukasz...</option>
                <option value="pies">Pies</option>
                <option value="kot">Kot</option>
                <option value="papuga">Papuga</option>
                <option value="chomik">Chomik</option>
                <option value="swinka_morska">Świnka Morska</option>
                <option value="swinka">Świnka</option>
                <option value="mysz">Myszka</option>
                <option value="waz">Wąż</option>
            </select>
        </div>

        <div class="one_select">
            <label for="plec">Płeć</label>
            <select name="plec" id="plec" class="dropdown-select">
                <option value="" selected>Wybierz płeć...</option>
                <option value="samiec">Samiec</option>
                <option value="samica">Samica</option>
            </select>
        </div>

        <div class="one_select">
            <label for="wiek">Wiek</label>
            <select name="wiek" id="wiek" class="dropdown-select">
                <option value="" selected>Wybierz wiek...</option>
                <option value="0-1"><1</option>
                <option value="1-2">1-2</option>
                <option value="3-5">3-5</option>
                <option value="6-10">6-10</option>
                <option value="11-15">11-15</option>
                <option value="16-25">16-25</option>
            </select>
        </div>

        <div class="one_select">
            <label for="rodowod">Rodowód</label>
            <select name="rodowod" id="rodowod" class="dropdown-select">
                <option value="" selected>Czy musi posiadać rodowód?</option>
                <option value="tak">Tak</option>
                <option value="nie">Nie</option>
            </select>
        </div>


    </div>
    <br>
    <span><b> Dodatkowe opcje: </b></span>
    <br>
    <div id="checkboxes">
        <div class="one_checkbox">
            <input type="checkbox" class='checkbox' id="spacery" name="spacery" value="Lubi spacery">
            <label for="spacery">Lubi spacery</label>
        </div>
        <div class="one_checkbox">
            <input type="checkbox" class='checkbox' id="szczepienia" name="szczepienia" value="Szczepienia">
            <label for="szczepienia">Szczepienia</label>
        </div>
        <div class="one_checkbox">
            <input type="checkbox" class='checkbox' id="zabawa" name="zabawa" value="Uwielbia zabawę">
            <label for="zabawa">Uwielbia zabawę</label>
        </div>
        <div class="one_checkbox">
            <input type="checkbox" class='checkbox' id="samotnosc" name="samotnosc" value="Źle znosi samotność">
            <label for="samotnosc">Źle znosi samotność</label>
        </div>
        <div class="one_checkbox">
            <input type="checkbox" class='checkbox' id="przyjazny" name="przyjazny" value="Przyjazny dzieciom">
            <label for="przyjazny">Przyjazny dzieciom</label>
        </div>
        <div class="one_checkbox">
            <input type="checkbox" class='checkbox' id="szkolony" name="szkolony" value="Szkolony">
            <label for="szkolony">Szkolony</label>
        </div>
        <div class="one_checkbox">
            <input type="checkbox" class='checkbox' id="akceptuje_zwierzeta" name="akceptuje_zwierzeta" value="Akceptuje inne zwierzęta">
            <label for="akceptuje_zwierzeta">Akceptuje inne zwierzęta</label>
        </div>
    </div>
    <button type="submit" id="submit_button" onclick="build_content()">Zastosuj filtry</button>
</form>
