<header id="_header">
    <div class="top-header">
        <h2>ADOP(e)T</h2>
        <div class="logo">
            <span>Zaloguj się</span>
            <i class="gg-user"></i>
        </div>
    </div>
    <div class="bottom-header">
        <a href="#"><div class="header-button">Adoptuj</div></a>
        <a href="#"><div class="header-button">Oddaj</div></a>
        <a href="#"><div class="header-button">Wspomóż</div></a>
        <a href="#"><div class="header-button">Współpraca</div></a>
        <a href="#"><div class="header-button">Kontakt</div></a>
    </div>
</header>
