<header id="_header">
    <div class="top-header">
        <a href="../pages/adopet.html">
            <h2>ADOP(e)T</h2>
        </a>
        <a href="../pages/login.html">
            <div class="logo">
                <span>Zaloguj się</span>
                <i class="gg-user"></i>
            </div>
        </a>
    </div>
    <div class="bottom-header">
        <a href="../pages/adopet.html">
            <div class="header-button">Adoptuj</div>
        </a>

        <a href="../pages/give.html">
            <div class="header-button">Oddaj</div>
        </a>

        <a href="../pages/donate.html">
            <div class="header-button">Wspomóż</div>
        </a>

        <a href="../pages/cooperation.html">
            <div class="header-button">Współpraca</div>
        </a>

        <a href="../pages/contact.html">
            <div class="header-button">Kontakt</div>
        </a>
    </div>
</header>