<header id="_header">
    <div class="top-header">
        <a href="../pages/adopet.html"><h2>ADOP(e)T</h2></a>
        <a href="../pages/login.html">
            <div class="logo">
                <span>Zaloguj się</span>
                <i class="gg-user"></i>
            </div>
        </a>
    </div>
    <div class="bottom-header">
        <a class="header-button" href="#">Adoptuj</a>
        <a class="header-button" href="#">Oddaj</a>
        <a class="header-button" href="#">Wspomóż</a>
        <a class="header-button" href="#">Współpraca</a>
        <a class="header-button" href="#">Kontakt</a>
    </div>
</header>
